.container {
    max-width: 30vw;
    margin: 2vw auto;
    
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  h2 {
    color: white;
    font: futura;
    font-size: 4vw ;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .form label {
    font-family: futura;
    display: block;
    margin-bottom: 8px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 2px;
    color: black;
    font-family: futura;
    font-size: 1vw;
  }
  
  .signupbtn {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-family: futura;
    font-size: 1vw;

    cursor: pointer;
    margin: 1vw;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .loginbtn {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-family: futura;
    font-size: 1vw;
    cursor: pointer;
  }
  
  .loginbtn:hover {
    background-color: #2980b9;
  }
  